.potterDetailCard {
  height: 295px;
  width: 600px;
  background-color: #ff7854;
  padding: 0;
  list-style: none;
  border: 1px solid black;
  color: white;
  display: flex;
  flex-direction: row;
  margin-top: 50px;

}


.potterDetailCard-img {
  height: 295px;
  width: 200px;
  background-position: top left 50%;
  background-size: cover;
}

.img {
  width: 0;
  height: 0;
}

.potterDetailCard-data {
  height: auto;
  width: auto;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}

.potterDetailCard-name {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: 20px;
}

.potterDetailCard-data-data {
font-family: 'Roboto', sans-serif;
text-align: left;
line-height: 2em;
padding-left: 20px;
padding-bottom: 70px;
}
